@use '../abstract/index' as a;

$contact-columns: repeat(8,1fr);
$contact-rows: 1fr;
$clip: polygon(35% 0, 100% 0, 100% 100%, 0 100%);

$breakpoints:
(
    sm: 540px,
    md: 768px,
    lg: 1024px
);

@mixin media-up($breakpoint)
{
    @if map-has-key($breakpoints,$breakpoint)
    {
        @media screen and (max-width: map-get($breakpoints,$breakpoint))
        {
            @content;
        }
    }
    @else
    {
        @warn "El valor '#{$breakpoint}' no ha sido declarado como breakpoints";
    }
}

.contact
{
    display: grid;
    grid-template-columns: $contact-columns;
    grid-template-rows: $contact-rows;
    min-block-size: 60rem;
    block-size: 100vh;
    @include media-up(md)
    {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
    &__picture
    {
        grid-column: 5/-1;
        grid-row: 1 / -1;
        display: flex;
        align-items: center;
        position: relative;
        &::before
        {
            content: "";
            display: block;
            inline-size: 100%;
            block-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: a.$background-img;
            clip-path: $clip;
            z-index: -1;
            @include media-up(md)
            {
                clip-path: polygon(0 0, 0 100%,100% 0);
            }
        }
        @include media-up(md)
        {
            grid-area: 1/1/2/-1;
            justify-content: center;
            padding: 20px;
        }
    }
    &__group
    {
        &-input
        {
            position: relative;
        }
        &--correct
        {
            .contact__validation-state
            {
                color: a.$color-correct;
                opacity: 1;
            }
        }
        &--incorrect
        {
            .contact__validation-state
            {
                color: a.$color-incorrect;
                opacity: 1;
            }
            .contact__input
            {
                border: 3px solid a.$color-incorrect;
            }
        }
    }
    &__img
    {
        inline-size: 90%;
        @include media-up(md)
        {
            max-inline-size: 40rem;
        }
    }
    &__form
    {
        grid-area: 1/1/-1/5;
        place-self: center;
        display: grid;
        gap: 3rem;
        inline-size: 70%;
        @include media-up(md)
        {
            grid-area: 2/1/3/-1;
            inline-size: 90%;
            max-inline-size: 50rem;
            padding: 40px 0;
        }
    }
    &__title
    {
        font-size: 4.8rem;
        &::after
        {
            content: "";
            display: block;
            inline-size: 8rem;
            block-size: 0.4rem;
            margin-block-start: 1rem;
            background-color: a.$background-img;
        }
    }
    &__validation-state
    {
        position: absolute;
        right: 10px;
        bottom: 20px;
        z-index: 2;
        font-size: 1.6rem;
        opacity: 0;
    }
    &__input
    {
        inline-size: 100%;
        padding: 18px 10px;
        outline: none;
        border: 1px solid black;
        border-radius: 2px;
        font-family: a.$fist-font;
        transition: .3s ease all;
        &:focus
        {
            border: 3px solid a.$color-activate;
            box-shadow: 3px 0 30px rgba(163,163,163,0.4)
        }
        &--area
        {
            block-size: 15rem;
            resize: none;
        }
        &-error
        {
            display: none;
            font-size: 1.2rem;
            margin-block-end: 0;
            &--activate
            {
                display: block;
            }
        }
    }
    &__cta
    {
        display: block;
        inline-size: 20rem;
        padding: 1.8rem 0;
        background-color: a.$background-img;
        border: none;
        outline: none;
        border-radius: 6px;
        color: white;
        font-family: a.$fist-font;
        font-weight: 700;
        transition: .1s ease all;
        &:hover
        {
            box-shadow: 0 2px 10px -4px rgba(0,0,0,0.5);
        }
    }
    &__message
    {
        block-size: 4.5rem;
        padding: 0.4rem 1.5rem;
        border-radius: 2px;
        background-color: a.$color-error;
        display: none;
        & p
        {
            text-align: center;
            margin: 0;
        };
        &--activate
        {
            display: block;
        }
        &-exito
        {
            font-size: 1.4rem;
            color: a.$color-exito;
            display: none;
            &--activate
            {
                display: block;
            }
        }
    }
}